.main {
    background-color: rgb(255 255 255 / 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
}

.scroll-container {
    position: fixed;
    top: 60px;
    left: 10px;
    right: 10px;
    bottom: 0;
    overflow-y: auto;
}

.row {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
}
.column:first-of-type {
    margin-right: 2%;
    margin-left: 2%;
}
.column {
    flex: 48%;
    padding: 10px;
    background-color: #ffffff00;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table {
    width: 100%;
    border-radius: 20px;
    border-collapse: collapse;
}
table td,
table th {
    padding: 8px;
}
table tr {
    border-bottom: 1px solid #ddd;
}

tbody tr:last-child {
    border-bottom: 0;
}

.gray_row{
    color:  #BDB8B8;
}

.changed_row{
    background-color: #F58181;
}


p{
    font-weight: bold;
}
